/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities;
@config "../tailwind.config.cjs"; */
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%
}

body {
  height: 100%
}

#root {
  height: 100%
}

h1 {
  @apply text-4xl font-bold mb-3;
}

a {
  @apply text-blue-500 hover:text-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50;
}

.container {
  @apply h-full w-full;
  max-width: 100%;
  display: flex;
  x-gap: 30px;
}

.content {
  @apply pr-10 pl-10;
  flex: 1; /* Takes the remaining space */
}
aside {
  width: 250px;
  flex-shrink: 0;
}

aside a {
  color: #fff;
}

label {
  /* @apply text-3xl font-bold underline; */

}

fieldset {
  @apply p-0 mb-5;
  border: none;
}

.fieldset__label {
  margin-bottom: .25rem;
}

.fieldset__instructions {
  margin-top: .25rem;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}

input:not([type="checkbox"]),
textarea,
select {
  width: 100%;
}

fieldset.schema {
  position: relative;
  border: 1px solid #ccc;
  background-color: #eee;
  border-bottom: 1rem;
  padding: 2rem 1rem 1rem 1rem;
}

.alert {
  padding: 1.5rem;
}

.alert--success {
  background-color: aquamarine;
}

.alert--error {
  background-color: rgb(250, 81, 109);
}